name: Test

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: "Node ${{ matrix.node }} on Linux: Test and Lint"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - 24
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm ci
      - run: |
          npm run commitlint -- \
          --verbose \
          --from `git merge-base origin/main $GITHUB_SHA`
      - run: npm run lint
      - run: npm run test
  build_os:
    name: "Node ${{ matrix.node }} on ${{ matrix.os }}: Test and Lint"
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        os: [ macos-latest, windows-latest ]
        node:
          - 24
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm ci
      - run: npm run test
